html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.floor2-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  background-color: #ffffff; 
  border: 2px solid rgb(0, 98, 184);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 100vh;
  align-items: stretch;
}
.Map-Content {
  flex-grow: 1;
  padding: 10px;
  position: relative;
}

.sidebar-heading {
  text-align: center;
}

.sidebar-boxes {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 100%;
}

.sidebar-box {
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 20px; 
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border: 1px solid #444;
  cursor: pointer;
}

.sidebar-box:hover {
  background-color: #92c7ff;
  color: rgb(255, 255, 255);
}

.sidebar-box.active {
  background-color: #005BBB;
  color: rgb(255, 255, 255);
}

.map_wrapper {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.hotspot-marker {
  position: absolute;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
}

.test-marker {
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  pointer-events: none;
}

.hotspot {
  position: absolute;
  background: rgba(255, 255, 0, 0.35);
  border: 1px solid rgba(255, 255, 0, 0.7);
  cursor: pointer;
}
.hotspot:hover {
  background: rgba(255, 255, 0, 0.6);
}

.info-panel {
  position: absolute;
  top: 40px;
  left: -250px; 
  width: 100%;
  max-width: 304px;
  height: calc(100% - 40px);
  background: white;
  border-right: 2px solid #333;
  padding: 10px;
  box-shadow: 4px 0 6px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  z-index: 100;
}

.info-panel.show {
  left: 0; 
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.close-btn:hover {
  color: red;
}