.instruction-buttons ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.instruction-buttons ul li button{
    padding: 12px;
    padding-right: 22px;
    border-radius: 25px;
    margin-top: 5px;
}

.current-instruction{
    background-color: rgb(79, 79, 231);
    font-size: 20px;
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    flex: 1 1 auto;
}

.buttons-and-inst{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.title{
    font-size: 34px;
}

.mobile-page{
    padding-left: 10px;
    padding-right: 10px;
}

.mobile-toggle-boxes {
    margin-top: 12px;
    margin-bottom: 12px;
}

.toggle-boxes {
    display: flex;
    gap: 12px;
}

.sidebar-box {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border: 1px solid #444;
    cursor: pointer;
    flex: 1;
}

.sidebar-box.active {
    background-color: #005bbb;
    color: rgb(255, 255, 255);
}

.icon {
    margin-right: 0.5rem;
}